<div class="wrapper">
	<h2>Portfolio</h2>
	<figure>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<img src="images/suitcase.png" class="img-fluid portfolio">
					<figcaption>Saving Money</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<img src="images/wallet.png" class="img-fluid portfolio">
					<figcaption>Managing Spending</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<img src="images/corn.png" class="img-fluid portfolio">
					<figcaption>Corn Crops</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<img src="images/wheat.png" class="img-fluid portfolio">
					<figcaption>Wheat Fields</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<img src="images/earth.png" class="img-fluid portfolio">
					<figcaption>The Earth</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<img src="images/peace.png" class="img-fluid portfolio">
					<figcaption>Humanity</figcaption>
				</div>
			</div>
		</div>
	</figure>
</div>
